@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap");
/* font-family: 'Baloo Tamma 2', cursive;  */
/* font-family: 'Noto Sans TC', sans-serif; */

:root {
  --white: #fff;
  --main-color: #ffdf65;
  --gray-100: #f8f9fa;
  --gray-200: #eeeeee;

  --warm-gray-lightest: #e5e5e5;
  --warm-gray-light: #e8e8db;
  --warm-gray-dark: #858377;

  --text-primary: #53524f;
  --text-secondary: #494846;
  --text-dark: #373a3c;
  --text-other: #636057;

  --hover: #ff785e;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  color: var(--text-primary);
}

/* 
    Alignments
*/
.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

/*
    Link
*/
a:focus-visible {
  outline: none;
}

/* 
    Image
*/
img {
  max-width: 100%;
  height: auto;
}

/* 
  Button
*/
button {
  border-radius: 1.565rem;
  height: 44px;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  line-height: 1.7;
  color: var(--text-other);
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--hover);
  color: var(--white);
}

button svg {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.5em;
}

.solid-btn {
  border: 0;
  background-color: var(--main-color);
}

.bordered-btn {
  border: 2px solid var(--warm-gray-dark);
}

/*
    Container
*/

.container {
  width: 100%;
  max-width: 1117px;
  margin: 0 auto;
  padding: 0 0.75em;
}

.container-nav {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-hero {
  padding-top: 1em;
}

/*
    Header
*/

header {
  border-bottom: 3px solid var(--main-color);
  position: relative;
  z-index: 1;
}

.nav-mobile input {
  display: none;
}

.nav-desktop {
  display: none;
}

.side-menu {
  display: none;
  height: 400px;
  width: 100%;
  background-color: var(--gray-100);
  /* right: -300px; */
  position: absolute;
  right: -700px;
  top: 67px;
  border-bottom: 4px solid rgba(200, 200, 200, 0.2);
}

#toggle-menu:checked + .side-menu {
  display: block;
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  100% {
    right: 0;
  }
}

@keyframes slide-out {
  100% {
    right: -300px;
  }
}

.side-menu ul {
  margin-top: 3em;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.side-menu a {
  text-decoration: none;
  color: var(--text-other);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.side-menu .reg-btn {
  margin: 0;
}

.login-btn {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 1.1875rem;
  height: 38px;
  width: 96px;

  font-size: 1rem;
  color: var(--text-other);
  text-align: center;
  line-height: 1.5rem;
}

.reg-btn {
  background-color: transparent;
  border: 2px solid var(--warm-gray-dark);
  border-radius: 1.1875rem;
  height: 38px;
  width: 96px;
  font-size: 1rem;
  color: var(--text-other);
  text-align: center;
  line-height: 1.5rem;
  margin-left: 1em;
}

.reg-btn:hover {
  background-color: var(--hover);
  border: 2px solid var(--hover);
  color: var(--white);
}

.login-btn:hover,
.reg-btn:hover {
  cursor: pointer;
}

@media (min-width: 680px) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: block;
    width: 90%;
    margin-left: 3em;
  }

  .nav-desktop .nav-row {
    display: flex;
    justify-content: space-between;
  }

  .links-col ul {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .links-col a {
    font-size: 0.88rem;
    font-weight: 300;
    color: var(--text-other);
    letter-spacing: 0.05rem;
    text-align: center;
    line-height: 1.5rem;
    margin-right: 3em;
    text-decoration: none;
  }

  .buttons-col {
    display: flex;
  }
}

.logo {
  height: 40px;
}

.menu-icon {
  width: 32px;
  height: 32px;
  color: #000;
}

/* 
  Main
*/

main {
  background-color: var(--gray-100);
}

.title-wrapper {
}

.product-tag {
  background-color: var(--warm-gray-dark);
  color: var(--white);
  display: inline;
  padding: 0.15em 1em 0.3em 1em;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  display: inline;
}

.product-title {
  margin-top: 0.5em;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  letter-spacing: 0.14rem;
}

/* 圖片 ＆ 募款進度 */
.info-wrapper {
  margin-top: 0.75em;
  color: var(--text-other);
}

@media (min-width: 680px) {
  .main-row {
    display: flex;
    justify-content: space-between;
  }

  .cover-col {
    width: 57.333%;
  }

  .cover-col img {
    border-radius: 1.8rem;
  }

  .progress-col {
    width: 41.666%;
  }
}

.funding-info {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.target-funding {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.current-funding {
  /* 
  font-family: BalooTamma2-SemiBold;
  font-size: 32px;
  color: #53524F;
  */
  margin-top: 0.34em;
  font-size: 2rem;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 600;
  line-height: 3.5rem;
}

.progress-bar {
  background-color: var(--gray-200);
  height: 1rem;
  border-radius: 0.5rem;

  font-family: "Baloo Tamma 2", cursive;
  font-weight: 600;
  font-size: 0.875rem;
}

.progress {
  text-align: center;
  width: 41%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  color: var(--warm-gray-dark);
  position: relative;
}

.progress span {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 80%;
}

.funders-count {
  display: flex;
  margin-top: 0.5em;
}

article.count {
  width: 50%;
  color: var(--text-other);
}

article.count h3 {
  font-size: 0.875rem;
}

article.count p {
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.5rem;
}

ul.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 680px) {
  ul.icons {
    justify-content: flex-start;
  }

  ul.icons img {
    margin-right: 1.5625rem;
  }

  ul.icons .badge {
    display: none;
    width: 88px;
  }

  ul.icons li {
    position: relative;
  }

  ul.icons .badge::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--text-secondary);
    left: 38px;
    right: 0;

    bottom: -7px;
  }

  ul.icons img:hover + .badge {
    display: inline-block;
    position: absolute;
    bottom: 150%;
    left: -44px;
    /* left: -75%; */

    background-color: var(--text-secondary);
    border-radius: 0.25rem;
    color: var(--main-color);
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0.5em 0;
  }
}

ul.icons li {
  display: flex;
  align-items: center;
}

.icons img {
}
.icons p {
  margin-left: 0.5em;
  font-size: 0.75rem;
  color: var(--text-other);
}

.card {
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 1em;
  border-left: 4px solid var(--main-color);
}

.card h4,
.card p {
  font-size: 0.875rem;
  color: var(--text-other);
  text-align: justify;
  line-height: 1.25rem;
}

/*
  CTA Buttons
*/
.btn-wrapper {
  margin-top: 0.5em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

.cta-btn {
  margin-top: 1rem;
  width: 100%;
}

.cta-btn:hover {
  cursor: pointer;
}

.follow-btn,
.share-btn {
  width: 49%;
  border: 3px solid var(--warm-gray-dark);
  background-color: transparent;
}

.follow-btn:hover,
.share-btn:hover {
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  color: var(--warm-gray-dark);

  cursor: pointer;
}

.follow-btn:hover svg,
.share-btn:hover svg {
  color: var(--hover);
}

/* 
    case-nav
*/
nav.case-nav {
  margin-bottom: 2em;
  border-top: 1px solid var(--warm-gray-light);
  border-bottom: 1px solid var(--warm-gray-light);
}

nav.case-nav ul {
  line-height: 1.25rem;
  letter-spacing: 0.11rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 680px) {
  nav.case-nav ul {
    justify-content: flex-start;
  }
}

nav.case-nav li {
}

nav.case-nav .case-nav-link {
  display: inline-block;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--text-other);
  padding: 1em;
}

nav.case-nav .case-nav-link:hover,
nav.case-nav .active {
  font-weight: bold;
  padding-bottom: 0.8em;
  border-bottom: 3px solid var(--main-color);
}

/* 
    two-col: Articles & Plans
*/

section.product-articles {
}

/*
    PROGRESS
*/

.progress-card {
  display: flex;
  margin-bottom: 1em;
  border-radius: 0.5rem;
  border: 1px solid var(--warm-gray-lightest);
}

/* .progress-card:last-child {
  margin-bottom: 3em;
} */

.progress-card .img-wrapper {
  width: 38.5%;
}

.progress-card .img-wrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.progress-card .card-content {
  width: 61.5%;
  padding: 1em;
}

.card-content h3 {
  font-weight: 500;
  font-size: 1rem;
  color: #494846;
  letter-spacing: 0.035rem;
  line-height: 1.5rem;
}

.card-content > p {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 0.875rem;
  color: var(--warm-gray-dark);
  letter-spacing: 0.03rem;
  line-height: 1.5rem;
}

.card-content > .progress-paragraph {
  display: none;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--warm-gray-dark);
  letter-spacing: 0.044rem;
  text-align: justify;
  line-height: 1.5rem;
  margin-bottom: 1em;
}

@media (min-width: 680px) {
  .card-content > .progress-paragraph {
    display: block;
  }
}

.card-content > span {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 1rem;
  font-weight: 600;
  color: var(--hover);
  letter-spacing: 0.05rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

/*
    MESSAGE
*/
.message-card {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5rem;
  border: 1px solid var(--warm-gray-lightest);
}

.message-card:last-child {
  margin-bottom: 2em;
}

.message-card .img-wrapper {
  width: 70px;
  margin-right: 1em;
}

.message-card .user-avatar {
  vertical-align: middle;
  width: 100%;
  border-radius: 50%;
}

.message-card .user-title {
  margin-left: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-title h3 {
  font-size: 1.125rem;
  letter-spacing: 0.1125rem;
  text-align: left;
  font-weight: 400;
  color: var(--text-secondary);
}

.user-title p {
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--warm-gray-dark);
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
}

.user-title b {
  font-weight: 600;
}

.message-card .card-content {
  margin-top: 1em;
}

.message-card .card-content > p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-dark);
  letter-spacing: 0.04rem;
  line-height: 1.5rem;
  text-align: justify;
}

.message-card .reply {
  margin-top: 1rem;
  background: var(--gray-100);
  border-radius: 0.25rem;
  padding: 1em;
}

.message-card .reply p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-dark);
  letter-spacing: 0.04rem;
  line-height: 1.5rem;
  text-align: justify;
}

.message-card .reply span {
  display: block;
  font-size: 0.75rem;
  color: var(--hover);
  letter-spacing: 0.04rem;
  line-height: 1.25rem;
  text-align: justify;
}

/* 
    ACCORDION FAQ
*/
.accordion-card {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5rem;
  border: 1px solid var(--warm-gray-lightest);
  /* background-color: #ccc; */
  width: 100%;
  /* transition: all 0.5s ease-in-out; */
}

.active-accordion {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.12) 0px 2px 16px 0px;
}

.accordion-card .arrow-wrapper {
  display: inline-block;
  /* float: right; */
}

.arrow-wrapper > svg {
  width: 20px;
}

.arrow-wrapper .up {
  display: none;
}

.accordion-card > input[type="radio"] {
  display: none;
}

.accordion-card label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-secondary);
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  background-color: #fff;
  width: 100%;
}

.accordion-card label:hover {
  cursor: pointer;
}

.accordion-header {
  display: flex;
}

.accordion-card span {
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-other);
  letter-spacing: 0.044rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 0.25rem;
  padding: 0.3em 0.4em 0 0.4em;
  margin-right: 1rem;
}

.accordion-card .accordion-content {
  /* display: none; */
  height: 0;
  transition: all 0.6s ease-out;
}

.accordion-card .accordion-content p {
  display: none;
  /* transition: all 0.7s ease-in-out; */
}

.accordion-card input:checked ~ .accordion-content {
  display: block;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--warm-gray-lightest);

  font-size: 1rem;
  color: var(--warm-gray-dark);
  letter-spacing: 0.044rem;
  line-height: 1.6875rem;
  text-align: justify;
  height: 100%;
}

.accordion-card input:checked ~ .accordion-content p {
  display: block;
}

.accordion-card input:checked ~ .accordion-header .arrow-wrapper > .up {
  display: inline-block;
}

.accordion-card input:checked ~ .accordion-header .arrow-wrapper > .down {
  display: none;
}

/*  ========================================= */

@media (min-width: 680px) {
  .section-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .articles-col {
    width: 65.666%;
  }

  .plans-col {
    width: 32.333%;
  }
}

/* 
    Articles
*/
article.article-card {
}

article.article-card h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-secondary);
  letter-spacing: 0.1rem;
  line-height: 1.8125rem;
  border-left: 4px solid var(--main-color);
  padding-left: 1em;
}

article.article-card p {
  padding: 0.5em 0;
  font-size: 1.1rem;
  color: var(--text-secondary);
  letter-spacing: 0.2rem;
  text-align: justify;
  line-height: 2rem;
}

.company-info {
  margin-top: 2em;
  padding: 1em;
  border-radius: 0.5rem;
  border: 1px solid var(--warm-gray-lightest);
}

.company-info .img-wrapper {
  width: 70px;
  margin-right: 1em;
}

.company-info .company-avatar {
  vertical-align: middle;
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--main-color);
}

.company-info .company-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.company-title h3 {
  font-size: 1.125rem;
  letter-spacing: 0.1125rem;
  text-align: left;
  font-weight: 400;
  color: var(--text-secondary);
}

.company-title p {
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--text-dark);
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
}

.company-title b {
  font-weight: 600;
}

.marketing-btns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
}

.round-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--warm-gray-dark);
  border-radius: 50%;

  margin-right: 0.5rem;
}

.round-btn svg {
  color: var(--white);
}

.facebook svg {
  width: auto;
  height: 50%;
}

.youtube svg {
  width: auto;
  height: 40%;
}

.facebook:hover,
.youtube:hover {
  cursor: pointer;
}

.contact-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.875rem;
  border: 1px solid var(--warm-gray-dark);
  font-size: 0.75rem;
  font-weight: 200;
  color: var(--warm-gray-dark);
  line-height: 1.1rem;
  padding: 0.5em 1em;
  background-color: transparent;
}

.contact-btn svg {
  width: 15px;
}

.contact-btn:hover {
  cursor: pointer;
}

.choose-your-plan {
  margin-top: 2rem;
  height: 40px;
  border-radius: 0.5rem;
  border-left: 4px solid var(--main-color);
  border-right: 4px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--text-secondary);
  background-color: var(--gray-100);
}

article.plan-card {
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--warm-gray-light);
}

article.plan-card .img-wrapper {
  object-fit: cover;
}

article.plan-card .plan-content {
  padding: 1rem;
}

.limited-offer {
  border-bottom: 1px solid var(--warm-gray-light);
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 1em;
}

.limited-offer > h4 {
  font-size: 0.875rem;
  color: var(--text-other);
  letter-spacing: 0.125rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.limited-offer > p {
  font-size: 0.875rem;
  color: var(--text-other);
  letter-spacing: 0;
  line-height: 1.5rem;
  font-weight: 300;
}

.plan-content h3 {
  font-size: 1.125rem;
  color: var(--text-secondary);
  letter-spacing: 0.125rem;
  line-height: 1.69rem;
  font-weight: 500;
}

.plan-content .price {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 1.5rem;
  color: var(--text-secondary);
  letter-spacing: 0;
  line-height: 2.56rem;
  font-weight: 600;
}

.tags {
  display: flex;
}

.tags .funded-times {
  background-color: var(--warm-gray-light);
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--warm-gray-dark);
  line-height: 1.125rem;
  margin-right: 0.5rem;

  display: inline;
  padding: 0.18em 1em 0.2em 1em;
  border-radius: 0.25rem;
}

.tags .limited-quantity {
  background-color: var(--warm-gray-dark);
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--white);
  line-height: 1.125rem;
  margin-right: 0.5rem;

  display: inline;
  padding: 0.16em 1em 0.22em 1em;
  border-radius: 0.25rem;
}

.tags span {
  color: var(--main-color);
}

.plan-content .desc {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--warm-gray-dark);
  letter-spacing: 0.04rem;
  text-align: justify;
  line-height: 1.5rem;
}

.fund-btn {
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
  color: var(--text-other);
  line-height: 1.31rem;
  letter-spacing: 0.07rem;
}

.fund-btn:hover {
  cursor: pointer;
}

/*
    Funding Form
*/

.funding-form-desktop {
  display: none;
}

.funding-form-mobile {
  margin-top: 2rem;
}

@media (min-width: 680px) {
  .funding-form-mobile {
    display: none;
  }

  .funding-form-desktop {
    display: block;
  }
}

.funding-form-desktop .icon,
.funding-form-mobile .icon {
  display: flex;
  justify-content: center;
}

.icon img {
  width: 43px;
  height: 43px;
}

.form-heading .form-title {
}

.yellow-line {
  position: relative;
  height: 3px;
  background-color: var(--main-color);
  width: 100%;
  margin-top: 1.375rem;
  text-align: center;
}

.yellow-line p {
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5rem;
}

.yellow-line span {
  padding: 0.1em 1em;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-secondary);
  background-color: var(--white);
}

.funding-form form {
  margin-top: 2em;
}

.funding-form label,
.funding-form input,
.funding-form select {
  display: block;
}

.funding-form label {
  margin-top: 1em;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--text-dark);
  line-height: 1.25rem;
}

.funding-form input,
.funding-form select {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  height: 38px;
  padding: 0 1em;
  font-size: 0.875rem;
  color: #999999;
  line-height: 1.25rem;
  border: 0;
  background-color: #f7f7f7;
  border-radius: 0.25rem;
}

.funding-form button {
  margin-bottom: 3em;
}

.funding-form .error {
  border: 1px solid var(--hover);
}

.funding-form .error-msg {
  margin-top: 0.25rem;
  font-size: 0.87rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: var(--hover);
}

footer {
  margin-top: 3em;
  padding: 1em 0;
  background-color: var(--text-secondary);
  display: flex;
  justify-content: center;
}

footer p {
  font-size: 0.875rem;
  font-weight: 200;
  color: var(--white);
  letter-spacing: 0.1rem;
  line-height: 1.25rem;
}

.forgot-password {
  margin-top: 0.5em;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--warm-gray-dark);
  line-height: 1.25rem;
  text-align: left;
}

.modal-wrapper {
  display: none;
}
.modal {
  z-index: 1; /* Sit on top */
  position: fixed;

  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  background-color: var(--white);
  width: 500px;
  border-top: 4px solid var(--main-color);
  border-radius: 0.25rem;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  /* height: 68px; */
  padding: 1em;
}

.modal__header h3 {
  font-size: 1.5rem;
  color: var(--text-dark);
  line-height: 2.25rem;
}

.modal__header svg {
  color: #ccc;
  cursor: pointer;
}

.modal button {
  margin-bottom: 2em;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 1em;
}
.modal__footer .footer-col {
  width: 24%;
}
.modal__footer .footer-col:nth-child(2) {
  width: 49%;
}

.modal__footer hr {
  border-top: 1px solid #dee2e6;
  border-left: 0;
  height: 1px;
  width: 100%;
  background-color: red;
}

.modal__footer p {
  text-align: center;
  font-size: 0.875rem;
  color: var(--warm-gray-dark);
}

.modal__footer a {
  color: var(--hover);
  text-decoration: none;
}

.open {
  display: block;
}
